<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
<title><%= node.name %></title>
</head>

<body>
<h1><%= node.name %> <a href="/host/<%= node.id %>/edit">edit</a></h1>

<p>You are viewing <%= node.name %></p>
</body>
</html>
